<div class="container">
  <div class="row">
    <div class="col-5">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let item of ItemsArray ">
            <td>{{ item }}</td>
            <td>
              <button type="button">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6 offset-1">
      <h2>HTML code</h2>
      <pre> 
        &lt;table class="table table-hover table-bordered"&gt; 
            &lt;thead class="thead-dark"&gt;
            &lt;tr&gt;
                &lt;th scope="col"&gt;Name&lt;/th&gt;
                &lt;th scope="col"&gt;Actions&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr scope="row" *ngFor="let item of ItemsArray "&gt;
                &lt;td&gt;item&lt;/td&gt;
                &lt;td&gt;
                  &lt;button type="button"&gt;Delete&lt;/button&gt;
                &lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt; 
        </pre>
    </div>
  </div>
</div>