<div class="container">
  <table class="table table-hover table-bordered mt-5">
    <thead class="thead-dark">
      <tr class="row">
        <th class="col-2" scope="col">Date</th>
        <th class="col-5" scope="col">Title</th>
        <th class="col-3" scope="col">Status</th>
        <th class="col-2" scope="col">View/Edit/Download PDF</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" scope="row" *ngFor="let item of ItemsArray ">
        <td class="col-2">{{ item }}</td>
        <td class="col-5">{{ item }}</td>
        <td class="col-3">{{ item }}</td>
        <td class="col-2">{{ item }}</td>
      </tr>
    </tbody>
  </table>
</div>